@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.heroSection {
  background-image: url("../public/Images/Hero_section.png");
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  cursor: pointer;
}

.hamburger > div {
  width: 1.4375rem;
  height: 0.1875rem;
  background-color: #fff;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-47deg) translate(-0.4375rem, 0.4375rem);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(46deg) translate(-0.25rem, -0.3125rem);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.footer {
  background-image: url("../public/Images/Footer.png");
}